<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sipua" type="pjsip4net.Configuration.SipUserAgentSettingsSection, pjsip4net, Culture=neutral, PublicKeyToken=null" />




    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>-->
  </configSections>




  <sipua srtp="Disabled" secureSignaling="0" logMessages="true" logLevel="5" traceAndDebug="true" autoAnswer="true" autoRecording="true" autoConference="false" maxCalls="100" threadCount="2">
    <accounts>
      <!--<account accountId="sip:1000@66.240.xxx.xx:5080" registrarUri="sip:66.240.xx.xx:5080"
          userName="1000" password="1234" realm="*" isDefault="true"
          publishPresence="false" />-->
      <!--<account accountId="sip:1000@10.2.2.106:5080" registrarUri="sip:10.2.2.106:5080"
          userName="1000" password="1234" realm="10.2.2.106" isDefault="true"
          publishPresence="true" />-->

      <!--register -e:1000 -d:10.2.2.106 -p:1234 -Port:5060 -t:udp-->




    </accounts>
    <!--<sipTransport 
      type="udp" 
      Port="5080" 
      />-->
    <sipTransport
      type="udp"
      port="0" />
    <networkSettings natInSDP="true" forceLooseRoute="false">
      <!--<stun address="stun.stunprotocol.org"/>-->
      <turn enabled="false" server="" type="udp" userName="" password="" realm="" />
      <ice enabled="false" noRTCP="false" />
      <!--<proxies>
        <add address="sip:proxy.sipthor.net"/>
      </proxies>-->
    </networkSettings>
    <!--<media 
      isVADEnabled="true" 
      playbackDeviceId="9" 
      captureDeviceId="6" />-->
    <media isVADEnabled="true" />
  </sipua>






  <common>
    <logging>
      <!--<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="EXTERNAL" />
      </factoryAdapter>-->
      <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="ALL" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
        <arg key="useTraceSource" value="true" />
      </factoryAdapter>
    </logging>
  </common>

  <system.diagnostics>
    <sources>
      <source name="System.Net" switchValue="Verbose">
        <listeners>
          <add name="color" />
        </listeners>
      </source>
      <source name="MultiRinger" switchValue="Verbose">
        <listeners>
          <add name="color" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="color" type="Essential.Diagnostics.ColoredConsoleTraceListener, Essential.Diagnostics" template="{DateTime:HH':'mm':'ssZ} [{Thread}] {EventType} {Source} {Id}: {Message}{Data}" convertWriteToEvent="true" />
    </sharedListeners>
  </system.diagnostics>


  <!--<log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <foreColor value="White"/>
        <backColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <backColor value="Green"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <backColor value="Yellow"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="siptrace.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ColoredConsoleAppender"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>-->






  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>