<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="1.1.0.118" targetFramework="net451" />
  <package id="Castle.Core" version="2.5.1" targetFramework="net451" />
  <package id="Castle.Windsor" version="2.5.1" targetFramework="net451" />
  <package id="Common.Logging" version="2.0.0" targetFramework="net451" />
  <package id="Common.Logging.Log4Net" version="2.0.0" targetFramework="net451" />
  <package id="Essential.Diagnostics" version="1.2.501.0" targetFramework="net451" />
  <package id="log4net" version="1.2.10" targetFramework="net451" />
  <package id="Magnum" version="2.1.0" targetFramework="net451" />
  <package id="ObjectDumper" version="1.0.0.12" targetFramework="net451" />
</packages>